@import "tailwindcss";

@layer components {
  .btn {
    @apply bg-slate-700 rounded-xl py-3 text-lg
           hover:bg-slate-600 active:scale-95 select-none;
  }

  .btn-op {
    @apply text-white bg-linear-to-r from-slate-500 via-slate-600 to-slate-700 hover:bg-linear-to-br;
  }

  .btn-eq {
    @apply text-white bg-linear-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-linear-to-br;
  }
}
